table {
  width: 876px;
  height: 156px;
  border: 1px solid #888888;
}
tr:hover {
  background-color: #f2f2f2;
}

th {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;

  color: #000000;
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;
}
.th {
  border-right: none;
}
td {
  border-right: 1px solid #888888;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;

  color: #000000;
}
.td {
  border-right: none;
}
.table {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: -40px;
  padding: 15px 0px;
}

body {
  /*тело страницы*/
  max-width: 1400px;
  font-family: sans-serif;
  margin: 0 auto;
}

.br {
  margin: center;
  line-height: 1.5;
}

.button {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;

  width: 92px;
  height: 39px;

  border: 1px solid #888888;
  border-radius: 4px;
  background-color: white;
}
.button:hover {
  background-color: #f2f2f2;
}
.button:active {
  border: 2px solid #f36223;
  border-radius: 4px;
}
.button:focus {
  border-color: #f36223;
}
.gb {
  width: 52px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

a {
  /*ссылки*/
  color: #008cf0;
  text-decoration: none;
}

a:hover {
  color: #f36223;
}

iframe {
  border: 1px dashed #ccc;
  background-color: lightgray;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px;
}

.logo {
  width: 1398px;
  height: 80px;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  top: 19px;
  color: #f52;
}
.logo__title {
  color: #000000;
}

.icon {
  width: 36.5px;
  height: 43px;
  top: 19px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
}

.name-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 20px;
  gap: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
}

.photo-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-left: 0;
}

.characteristic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  margin-top: 30px;
}

.char-all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 880px;
  height: 896px;
}

.color-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 530px;
  height: 114px;
  top: 30px;
}

.name-color {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.color-selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.color-selection__button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;

  border: 1px solid #888888;
  border-radius: 4px;
  background-color: white;
}
.color-selection__button:focus {
  border-color: #f36223;
}
.memory-configuration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 298px;
  height: 73px;
  gap: 15px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.product-characteristics {
  width: 417px;
  height: 198px;
}
.product-detail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin-top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.circle {
  margin-top: 0;
}
.list__elem1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.char {
  font-weight: 700;
}
.char1 {
  font-weight: 700;
  color: #008cf0;
}
.list__elem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.list__elem3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.list__elem4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.list__elem5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.list__elem6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.description {
  width: 880px;
  height: 421px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  margin-top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.slidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 420px;
  height: 957px;
}
.important {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 420px;
  height: 275px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 132px;
  height: 73px;
}
.old-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.strikethrough {
  text-decoration-line: line-through;
  color: #888888;
}
.discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #f36223;
  border-radius: 500px;
  color: #ffffff;
}
.new {
  width: 132px;
  height: 39px;

  font-family: "Inter";
  font: 1em sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.price-delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 10px;
  width: 380px;
  height: 19px;

  font-family: "Inter";
  font: 1em sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.price-delivery_fatty {
  font-weight: 700;
}
.button-important {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 380px;
  height: 64px;
  background: #f36223;
  border-radius: 4px;
}
.button-important:hover {
  background-color: #da4a0c;
}
.button-important_text {
  width: 196px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px;
  gap: 10px;
  width: 420px;
  height: 642px;
}
.ad-head {
  width: 60px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.ad-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 420px;
  height: 615px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.ad-list__item1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 420px;
  height: 300px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}
.ad-list__item2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 420px;
  height: 300px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px 0px;
  gap: 25px;
  height: 880px;
  width: 574px;
}
.reviews-head {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 880px;
  height: 39px;
}
.reviews-head__text {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 155px;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.reviews-head__text_grey {
  width: 47px;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}
.reviews-head__button {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  width: 168px;
  height: 39px;
  border: 1px solid #888888;
  border-radius: 4px;
}
.reviews-ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 880px;
  height: 510px;
}
.ad-review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.ad-review__photo {
  border-radius: 100px;
}
.ad-review__item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 710px;
  height: 240px;
}
.ad-review__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.ad-review__rating {
  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 150px;
  height: 30px;
}
.ad-review__rating__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 710px;
  height: 156px;
  margin-top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.separator {
  border: 1px solid #888888;
  width: 880px;
  height: 1px;
}
.ad-review__item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 710px;
  height: 189px;
}
.model-comparison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.model {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.footer {
  width: 1400px;
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px 0px 50px;
  background: #f2f2f2;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 1400px;
  height: 111px;

  color: #000000;
}
.footer__content_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #f36223;
}
.footer__content_link {
  width: 58px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #008cf0;
}
